{% extends 'base.html' %}
{% load i18n %}
{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>
            {% trans 'Hey' %}
            <strong>
                {% if user.username %}
                    {{ user.username }}
                {% else %}
                    {% trans 'anonymous' %}
                {% endif %}
            </strong>!
        </h1>
    </div>
</div>
{% for widget in widgets %}
    <hr />
    {{ widget }}
{% endfor %}
{% endblock %}
