{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}

{% block body %}
<div class="row">
    <div class="col-md-5">
        <form action="{% url 'register' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon 'start' %} Submit
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}