{% load static %}
{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static 'bootstrap/3.3.4/darkly/bootstrap.min.css' %}" />
</head>
<body style="padding-top: 10px;">
<div class="container">
    {% if alerts %}
        <div class="row"><div class="col-md-12">
    {% for alert in alerts %}
        <div class="alert alert-{{ alert.type }}" role="alert">
            {{ alert.msg }}
        </div>
    {% endfor %}
        </div></div>
    {% endif %}
    {% block body %}{% endblock %}
    <div class="row">
        <div class="col-md-12">
            {% if not user.is_authenticated %}
                <div class="well well-sm text-center">
                    <a href="{% url 'register' %}">
                        <h6>Register to get unlimited hints!</h6>
                    </a>
                </div>
            {% endif %}
            {% block footer %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
