{% load i18n %}
<h4><strong>{{ collection.name }}</strong></h4>
<p>
    <h5>{% trans 'Done' %}: <strong>{{ done }}</strong> / <strong>{{ total}}</strong>
    {% if done_hidden > 0 %}
        <small>
            {% blocktrans trimmed count done=done_hidden%}
                + {{ done }} hidden
            {% plural %}
                + {{ done }} hidden
            {% endblocktrans %}
        </small>
    {% endif %}
    </h5>
</p>
<div class="progress">
    <div class="progress-bar" role="progressbar" style="min-width: 2em;width: {{ percent_done }}%">
    </div>
</div>
