{% extends 'base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>
            <strong>{{ qrcode.name }}</strong>
            {% if qrcode.hidden %}
            <small>hidden</small>
            {% endif %}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        {# Terrible hack! #}
        {% autoescape off %}
            {{ qrcode.description }}
        {% endautoescape %}
    </div>
    <div class="col-md-3">
        {{ collection_widget}}
    </div>
</div>
{% if suggest %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <div class="text-center">
                    Why don't you try searching for<br />
                    <strong>{{ suggest.name }}</strong>?<br />
                    It should be around here... Somewhere...
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
