<div class="row">
    <div class="col-md-12">
        {{ collection_widget }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% if qrcodes %}
            Your QR codes:
            <table class="table table-striped">
                <thead>
                    <th>
                        Name
                    </th>
                </thead>
                <tbody>
                    {% for qrcode in qrcodes %}
                        <tr>
                            <td>
                                <a href="{% url 'show' qrcode.show_hashid %}">{{ qrcode.name }}</a>
                                {% if qrcode.hidden %}
                                    <small>hidden</small>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>You don't have any QR codes yet</p>
        {% endif %}
    </div>
</div>
